.subtitfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

aside {
    margin: auto;
    gap: 20px;
}

.divlv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.divani {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
}


.imgsfi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 395px;
    height: 600px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}
  
.imgsfi:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}

.divpre {
    width: auto;
    max-width: 400px;
}

.divmi {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}

.divmar {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}

.divdive {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}

.divden {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}


.descdive {
    display: flex;
    text-align: center;
}

.dpsimgfi {
    text-align: center;
    margin: 30px;
    color: #f72428;
}