.subtitso {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px; 
}

.conteisobre {
    display: flex;
    align-items: center;
}

.hn {
    width: 30%;
    margin-left: 100px;
    background-color: var(--cor-neon);
    color: var(--cor-neon);
    border-radius: 5px ;
    text-align: center;
    cursor: pointer;
}

.pn {
    width: 20%;
    background-color: var(--cor-neon);
    color: var(--cor-neon);
    border-radius: 5px;
    margin-left: 100px;
    text-align: center;
    cursor: pointer;
}

.cn {
    width: 30%;
    margin-left: 100px;
    background-color: var(--cor-neon);
    color: var(--cor-neon);
    border-radius: 5px ;
    text-align: center;
    cursor: pointer;
}

.footso {
    bottom: 0;
    position: fixed;
}

.hn:hover {
    transition: 1s;
    color: #fff
}

.pn:hover {
    transition: 1s;
    color: #fff
}

.cn:hover {
    transition: 1s;
    color: #fff
}



