.subtit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--cor-texto);
}

.ih {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10rem;
} 

.ih1, .ih2 {
    width: 500px;
    border-radius: 5px;
    transition: 1s ease;
    cursor: pointer;
}

.ih1:hover, .ih2:hover {
    scale: 1.1;
}

@media (max-width: 768px) {
    .ih {
        flex-direction: column;
    }

    .ih1, .ih2 {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .ih {
        flex-direction: column;
    }

    .ih1, .ih2 {
        width: 95%;
    }
}