.stts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.Tudots {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    max-width: 100%;
}

.mcd, .lc, .hx, .dstm {
    margin: 10px;
    border-radius: 5px;
    max-width: 380px;
}

.mcimg {
    margin: 5px;
    height: 220px;
    width: 350px;
}

.divimgmc {
    display: flex;
    justify-content: center;
}

.mcm {
    text-align: center;
    color: aliceblue;
}

.mcd {
    background-color: var(--cor-neon);
}

.imglc {
    height: 220px;
    width: 350px;
}

.divlcimg {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.mlc {
    text-align: center;
    color: aliceblue;
}

.lcd {
    background-color: var(--cor-neon);
    height: 515px;
    border-radius: 5px;
}

.imghx {
    height: 245px;
    width: 350px;
}

.divhximg {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.mhx {
    text-align: center;
    color: aliceblue;
}

.hxd {
    background-color: var(--cor-neon);
    height: 515px;
    border-radius: 5px;
}

.imgstm {
    width: 350px;
    height: 225px;
}

.divdstmimg {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.mdstm {
    text-align: center;
    color: aliceblue;
}

.dstmd {
    background-color: var(--cor-neon);
    height: 515px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    
    .stts {
        text-align: center;
    }
    
    .Tudots {
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .tudots {
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;
    }
}
