* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --cor-neon: #ad49ff;
    --cor-gradiente-1: #9f56ff;
    --cor-gradiente-2: #fc466b;
    --cor-branca: #ffffff;
    --cor-texto: #2A2A2A;
    --box-shadow: 0 2px 15px rgba(248, 117, 108, 0.37); 
}