.str {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgbdr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.bdr {
    border-radius: 10px;
    transition: 2s ease;
    cursor: pointer;
}

.bdr:hover {
    transform: rotate(180deg);
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.divperu {
    max-width: 95%;
    background-color: var(--cor-gradiente-1);
    border-radius: 5px;
}

.divimgperu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.imgperu {
    border-radius: 5px;
    height: 267px;
    width: auto;
    cursor: pointer;
    transition: 1s ease;
}

.imgperu:hover {
    transform: scale(1.03);
}

.peru {
    text-align: center;
    color: aliceblue;
}

.descperu {
    text-align: center;
    color: aliceblue;
}

.divfrica {
    max-width: 95%;
    background-color: var(--cor-gradiente-1);
    border-radius: 5px;
}

.divimgfrica {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.imgfrica {
    border-radius: 5px;
    height: 267px;
    cursor: pointer;
    transition: 1s ease;
}

.imgfrica:hover {
    transform: scale(1.03);
}

.frica {
    text-align: center;
    color: aliceblue;
}

.descfrica {
    text-align: center;
    color: aliceblue;
}

.divpan {
    max-width: 95%;
    background-color: var(--cor-gradiente-1);
    border-radius: 5px;
}

.divimgpan {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.imgpan {
    border-radius: 5px;
    height: 270px;
    cursor: pointer;
    transition: 1s ease;
    width: 95%;
}

.imgpan:hover {
    transform: scale(1.03);
}

.pan {
    text-align: center;
    color: aliceblue;
}

.descpan {
    text-align: center;
    color: aliceblue;
}

.footre {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .bdr {
        width: 95%;
    }

    .tudo {
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .bdr {
        width: 95%;
    }
    
    .tudo {
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;
    }
}