.str {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto);
    padding: 5px;
}

.imgbdr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgperu {
    width: 380px;
}

.peru {
    text-align: center;
    color: aliceblue;
}

.descperu {
    text-align: center;
    color: aliceblue;
}

.divperu1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divperu {
    border: none;
    background-color: var(--cor-neon);
    width: auto;
    border-radius: 5px;
    padding: 5px;
}

.frica {
    width: 380px;
}

.nfrica {
    text-align: center;
    color: aliceblue;
}

.descfrica {
    text-align: center;
    color: aliceblue;
}

.divfrica {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divfrica1 {
    border: none;
    background-color: var(--cor-neon);
    width: auto;
    border-radius: 5px;
    padding: 5px;
}

.imgpan {
    width: 380px;
    height: 250px;
}

.panetone {
    text-align: center;
    color: aliceblue;
}

.descpan {
    text-align: center;
    color: aliceblue;
}

.divpan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divpan1 {
    border: none;
    background-color: var(--cor-neon);
    width: auto;
    border-radius: 5px;
    padding: 5px;
}

.pan {
    text-align: center;
    color: aliceblue;
}

.descpan {
    text-align: center;
    color: aliceblue;
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.divfrica, .divpan {
    gap: 2rem;
}






